.input {
  background: rgba(color(primary), .8);
  border-radius: 2rem;
  border: 0;
  color: color(white);
  font: inherit;
  height: 4rem;
  padding: 1.25rem 2rem;
  width: 100%;
}

.input-group {
  margin: 0 0 1rem;
  position: relative;
}

.input-group .label {
  color: rgba(color(white), .5);
  font-size: .875rem;
  left: 2rem;
  position: absolute;
  text-transform: lowercase;
  top: .25rem;
}

.input-group .label + .input {
  padding-bottom: .75rem;
  padding-top: 1.75rem;
}
