.input {
  background: rgba(color(primary), .8);
  border-radius: 2rem;
  border: 0;
  color: color(white);
  font: inherit;
  height: 4rem;
  padding: 1.25rem 2rem;
  width: 100%;
}

.input.email,
.input.name,
.input.password {
  background-position: right 2rem center;
  background-repeat: no-repeat;
}

.input.email {
  background-image: url('../../images/icons/envelope.svg');
}

.input.name {
  background-image: url('../../images/icons/user-rectangle.svg');
}

.input.password {
  background-image: url('../../images/icons/lock-key.svg');
}


/*
  input group
*/

.input-group {
  margin: 0 0 1rem;
  position: relative;
}

.input-group .label {
  color: rgba(color(white), .5);
  font-size: .875rem;
  left: 2rem;
  position: absolute;
  text-transform: lowercase;
  top: .25rem;
}

.input-group .label + .input {
  padding-bottom: .75rem;
  padding-top: 1.75rem;
}
